.header h3{
    font-family: 'Cinzel Decorative', cursive;
    color: 	#642100;
    text-align: center;
}
.header{
    padding: 20px;
}
*{
    padding: 0;
    margin: 0;
    font-family:'Cinzel Decorative', "微軟正黑體"; 
    box-sizing: border-box;
}

.to-do-list{
    background: linear-gradient(135deg,#E6CAFF,	#C4E1FF);
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 5px;
    border-radius: 10px;
}

.text_n_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #E0E0E0;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    
}
.add_btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:linear-gradient(135deg,		#FFAD86,		#FFF4C1)  ;
    color: brown;
    font-family: 'Quicksand', sans-serif;
    border-radius: 40px;
    cursor: pointer;
}
ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    background:snow;
   
  }  

/* 此段在建立完成清單時，當使用者按下已經完成之項目時，背景、顏色會改變，便產生一條劃過清單項目的線，以區別該項目已經完成*/
ul li.checked { 
    background: linear-gradient(135deg,#E6CAFF,	#C4E1FF);
    color: #DCB5FF;
    text-decoration: line-through;
  } 

/* 此段在建立勾勾圖示，並且使它被插入在li元素之前*/  
ul li.checked::before { 
    content: ''; /*放虛擬內容，在此段程式碼中就是要放勾勾 */
    position: absolute;
    border-color: #DCB5FF;
    border-style: solid;
    border-width: 0 2px 2px 0; /* 在右和下產生邊框*/  
    height: 15px; /* 讓右邊框設為15px*/  
    width: 7px; /* 讓下邊框設為7px*/  
    top: 15px;
    left: 16px;
    transform: rotate(45deg); /* 順時針旋轉45度後即會變成一個勾勾px*/  
  
}   
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.content{
    padding-right: 25px;
}  
